<% message.subject = 'Ceefuu: New comment on your order' %>
<p>Hi,</p>
<p>A comment has been posted on your purchased order.</p>
<p><b>Comment:</b><%= @comment.content %></p>
<p>Please login to your dashboard to view.</p>
<p>Thank You</p>
<p>The Ceefuu Team</p>