<% message.subject = 'Ceefuu: New comment from buyer' %>
<p>Hi,</p>
<p>A new comment has been posted by the buyer.</p>
<p><b>Comment:</b><%= @comment.content %></p>
<p>Please login to your dashboard to view.</p>
<p>Thank You</p>
<p>The Ceefuu Team</p>