<% content_for(:html_title) { 'Add Payout Method: Ceefuu' } %>
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8-tablet is-6-desktop is-6-widescreen">
                <p class="title has-text-centered">Recieve your earnings</p>
                <br>
            <div class="field is-grouped is-grouped-centered">
                <% if current_user.merchant_id.blank? %>
                    <%= link_to "Connect with Stripe", stripe_express_path, class: "button is-black" %>
                <% else %>
                <br/>
                <div class="text-center">
                    <%= link_to "Express Dashboard", @login_link&.url, class: "button is-black" %>
                </div>
                <% end %> 
            </div>
            </div>
        </div>
    </div>
</section>