<footer class="container has-background-white">

  <div class="is-divider"></div>
    <ul class="is-flex is-flex-wrap-wrap is-justify-content-center">
      <li class="mr-5 is-small"><%= link_to 'Terms', terms_pages_path, class: "navbar-item"  %> </li>
      <li class="mr-5 is-small"><%= link_to 'Privacy', privacy_pages_path, class: "navbar-item"  %> </li>
      <li class="mr-5 is-small"><%= link_to 'Cookies', cookies_pages_path, class: "navbar-item"  %> </li>
    </ul><br>
</footer>