<% message.subject = 'Ceefuu: Order marked as completed' %>
<p>Hi,</p>
<p>A recent order has been marked as completed.</p>
<p>Kindly, login to your dashboard to see the details.</p>
<p>Thank You</p>
<p>The Ceefuu Team</p>