<% message.subject = 'Ceefuu: Thank you for placing your order!' %>
<p>Hi,</p>
<p>Thank you for placing your order at Ceefuu.</p>
<p>Your support will help your favourite creators make a meaningful income.</p>
<p>Thank You</p>
<p>The Ceefuu Team</p>